{% block sidebar %}

    <div id="backend_sidebar">

        {% block sidebar_inner %}

            <h1>Sidebar</h1>

            <ul>

                {% for sidebar_category in sidebar_tree %}

                    <li>

                    {% if sidebar_category.actions|length == 1 %}

                        {% set sidebar_action = sidebar_category.actions|first %}

                        <a href="TODO">
                            {{ sidebar_category.title }} -> {{ sidebar_category.color }}
                        </a>
                    {% else %}

                        <div class="sidebar_category_toggle">
                            {{ sidebar_category.title }} -> {{ sidebar_category.color }}
                        </div>

                        <ul class="sidebar_category_accordion">

                            {% for sidebar_action in sidebar_category.actions %}

                                <li>

                                    <a href="TODO">
                                        {{ sidebar_action.title }}
                                    </a>

                                </li>

                            {% endfor %}

                        </ul>

                    {% endif %}

                    </li>

                {% endfor %}

            </ul>





        {% endblock %}

    </div>


{% endblock %}